@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400&family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@500;700&family=Quicksand:wght@300;500&display=swap');

/*
    Imported Fonts:

    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
}
  
::-webkit-scrollbar-thumb {
    background-color: transparent;
}
  
/* Enable scrolling using the mouse wheel or touchpad */
.scrollable-container {
    overflow: auto;
}
  
/* Enable scrolling using keyboard arrow keys or touch gestures */
.scrollable-container:focus {
    outline: none;
}
  
/* Hide scrollbar for Firefox */
.scrollable-container {
    scrollbar-width: none;
}
  