/*Import Fonts from Google Font (https://fonts.google.com/)*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400&family=Overpass:wght@400;700&family=Poppins:wght@500;700&family=Quicksand:wght@300;500&display=swap');

/*
    Imported fonts:
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;